html{
    height:100%;
}

body{
    background-color: white;
    font-size:20px;
    position:relative;
    height:97%;
    font-family: Verdana,"Geneva CE",lucida,sans-serif;
    font-size: 13px;
}

div.redaktebla:focus {
    outline: none;
}

    
div#ujo{
     overflow: auto;    
}  

div.eta{
    font-family: Arial;
    font-size:12px;
    color:gray;
}


h1{
    margin:0px auto 5px 0px;
    font-size: 23px;
    color:#04B45F;
    font-weight: normal;
    font-family:	Trebuchet MS,"Geneva CE",lucida,sans-serif
}


#mesagxoj{
    width:400px;
}


/* bazita de  http://css.dzone.com/news/css-message-boxes-different-me */
.msg{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/bild/informo.png');
}

.sukceso {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/bild/sukceso.png');
}

.atentigo {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/bild/atentigo.png');
}
.eraro {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/bild/eraro.png');
}