html{
    height:100%;
}

body{
    background-color: white;
    font-size:20px;
    position:relative;
    height:97%;
    font-family: Verdana,"Geneva CE",lucida,sans-serif;
    font-size: 13px;
}
/*
div.redaktebla{
    background:#F2F2F2;
    border:1px solid gray;
    padding:3px
}*/

div.redaktebla:focus {
    outline: none;
}

    
div#ujo{
     overflow: auto;    
}  

div.eta{
    float:right;
    font-family: Arial;
    font-size:12px;
    color:gray;
}

h1#titolo{
    font-size:18px;
}


h1{
    margin:0px auto 5px 0px;
    font-size: 23px;
    color:#04B45F;
    font-weight: normal;
    font-family:	Trebuchet MS,"Geneva CE",lucida,sans-serif
}